.NavigationItems {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-flow: column;
    width: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
        align-items: center;
        width: auto;
    }
}
